    <header class="global-header container whitepage pageHeader">
        <div class="row margin-zero">
             <div class="col-md-6 padLeftZero">
                <h1 class="h1">Data Aggregation</h1>
            </div>
            <div class="col-md-6 theame">
                <app-trans-option> </app-trans-option>
            </div>
        </div>        
    </header>
    <div class="container whitepage">
        <div class="row">
            <!-- eof left menu nav bar code -->
            <!--breadcrumb + Content section -->
            <div class="col-sm-12">    
                <div class="row">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>   
                    </div>
                </div>
            </div>
            <!-- eof breadcrumb + Content section -->
        </div>
    </div>

    